@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Regular.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Light.ttf") format("ttf");

  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Medium.ttf") format("ttf");

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-SemiBold.ttf") format("ttf");

  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Bold.ttf") format("ttf");

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserat";
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserat";
  src: url("../fonts/Montserrat-Medium.ttf") format("ttf");

  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserat";
  src: url("../fonts/Montserrat-Light.ttf") format("ttf");

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserat";
  src: url("../fonts/Montserrat-Bold.ttf") format("ttf");

  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserat";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("ttf");

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
